---
title: Nice Title
author: henrikvilhelmberglund
date: today
layout: notes
---
<script>
export let list;
import { H1, Blockquote, Li, P } from "./components.js";
</script>

<!-- # {title} -->


> lol

1. one
1. two 
1. three

why hello there

<ul>
{#each list as item}
<Li>{item}</Li>
{/each}
</ul>