// _ i början för att inte skapa .css i onödan
// importeras i annan fil

$font-stack: Helvetica, sans-serif;

// Colors
$primary-color: #777;
$ankademin-green: green;
$ankademin-coral: coral;

// Sizes
$font-size: 40px;
$p-font-size: 18px;
$mobile: 600px;

// Breakpoints