body {
  background-color: #333333;
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  /* width: 50%; */
}

#svelte {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}