body {
  background-color: #333333;
  color: white
}

h2 {
  padding-top: 5px;
}

.base-div {
  background-color: #222222;
  border-radius: 5px;
  padding-left: 20px;
  margin: 10px;
  align-items: baseline;
}

.gray {
  color: #777;
}

.border {
  position: relative;
  right: 5px;
  border-bottom: 2px solid #777;
  /* width: 170%; */
  padding: 0px;
}

table {
  width: 800px;
}

td {
  padding: 5px;
  margin: 0px;
}

/* th {} */

tr {
  padding: 0px;
}

.hit {
  background-color: blue;
  padding: 5px;
  margin: 5px;
}

.nothit {
  border: 1px solid white;
}